
  @import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
  @import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");  

  /* Include the padding and border in an element's total width and height */
  *{
    box-sizing: border-box;
         
    background: linear-gradient(to right, #3d182f, #d80e87);
       
   
  }

 
  /* Remove margins and padding from the list */
  ul {
    padding: 31px; 
    list-style: decimal;
      
  }

  /* Style the list items */
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Set all odd list items to a different color (zebra-stripes) */
  ul li:nth-child(odd) {
    background: #b5c7d7;
  }
  ul li:nth-child(even) {
    background: #a3a3cb;
  }

  /* Darker background-color on hover */
  ul li:hover {
    background: #1b4bd8;
  }

  /* When clicked on, add a background color and strike out text */
  ul li.checked {
    background: rgb(104, 162, 213);
    color: #fff;
    text-decoration: line-through;
  }

  /* Add a "checked" mark when clicked on */
  ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }

  /* Style the close button */
  .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
  }

  .close:hover {
    background-color: #f44336;
    color: white;
  }

  /* Style the header */
  .header {
    width: 100%;     
    padding: 10px 30px;
    color: rgb(243, 205, 156);
  }



/* Animated text heading */
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  width: 500px;
  font-size: 62px;
  border: 3px inset rgb(92, 222, 222);
  border-radius: 50px;
  border-top: 8px ridge rgb(231, 127, 221);
  margin-top: px; 
  position: absolute;
  /* display: inline; */
  left: 50%;
  transform: translate(-50%, -50%);
}

 h2:nth-child(1) {
  color: rgb(215, 222, 228);
  -webkit-text-stroke: 2px rgb(28, 20, 20);
}

 h2:nth-child(2) {
  color: #00bbff;
  animation: animate 5s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 4%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

  /* Clear floats after the header */
  .header:after {
    content: "";
    display: table;
    clear: both;
  }

  /* Style the input */
  input {    
    margin-bottom: 10px;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 20px;
    background-color: #d11c1c;
    height: 42px;
    margin-top: 150px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
    box-shadow: 7px 7px 15px #000000,-4px -4px 13px rgb(60, 34, 51), inset 4px 4px 8px rgba(209, 217, 230, 0.2),  inset -8px -8px 8px rgba(255, 255, 255, 0.2);
    background: #ffffff; 
}
  

  /* Style the "Add" button */
  
button {
  /* background: rgb(255, 52, 25); */
  background: linear-gradient(to right, #6390d8,  #93adb4);
  border: solid 3px black;
  padding: .375em 1.125em;
  font-size: 19.8px;
  width: 22.3%;
  margin-left: 2%;
  font-weight: bolder;
  margin-top: 150px;
  }
  
  .addbtn{
  background: hsl(190deg, 30%, 15%);
  color: hsl(190deg, 10%, 95%);
  box-shadow: 0 0px 0px hsla(190deg, 15%, 5%, .2);
  transform: translateY(0);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  
  --dur: .15s;
  --delay: .15s;
  --radius: 16px;
  
  transition:
    border-top-left-radius var(--dur) var(--delay) ease-out,
    border-top-right-radius var(--dur) calc(var(--delay) * 2) ease-out,
    border-bottom-right-radius var(--dur) calc(var(--delay) * 3) ease-out,
    border-bottom-left-radius var(--dur) calc(var(--delay) * 4) ease-out,
    box-shadow calc(var(--dur) * 4) ease-out,
    transform calc(var(--dur) * 4) ease-out,
    background calc(var(--dur) * 4) steps(4, jump-end);
}

.addBtn:hover,.addBtn:focus {
  /* box-shadow: 0 4px 8px hsla(190deg, 15%, 5%, .2); */
  box-shadow: 5px 3px 15px #161f53, 10px 10px 15px #a60000;
  transform: translateY(-4px);
  background: hsl(230, 75%, 65%);
  border-top-left-radius: 10px 10px;
  border-top-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius:10px 10px;
}


h3{
  text-align: center;
  font-size: 16px;
  
}
footer{
  margin-bottom: 0px;
}

  

 